.discount-header {
    text-align: center;
    background-color: var(--blue);
    color: var(--white);
    padding: 4px 0 5px;
    font-family: "mont-bold";
    font-size: 14px;
    line-height: 30px;
}

.logo {
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logo img {
    width: 156px;
    height: 23.47px;
}

.header {
    background-color: rgba(245, 253, 255, 0.8);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(14px);
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links li {
    display: inline-block;
    margin-right: 60px;
}

.links li a {
    text-decoration: none;
    color: var(--blue);
    opacity: 0.75;
    font-family: "mont-regular";
}

.links li a.active {
    font-family: "mont-semiBold";
    opacity: 1;
}

.order-btn {
    cursor: pointer;
    padding: 11px 0 13px;
    font-size: 14px;
    line-height: 19px;
    width: 165px;
}
