.home {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 63px;
    padding-bottom: 25px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.title {
    font-family: "mont-bold";
    font-size: 42px;
    line-height: 55px;
    color: var(--blue);
    grid-column: 1/5;
}

.title span {
    color: var(--light-blue);
    font-family: "mont-bold";
    display: inline-block;
    position: relative;
}

.title span:after {
    position: absolute;
    content: url("../../imgs/Vector\ 198\ \(Stroke\).jpg");
    bottom: -20px;
    left: -20px;
}

.title span:before {
    content: url("../../imgs/Vector\ 4\ \(Stroke\).jpg");
    position: absolute;
    right: -80px;
    transform: rotate(10deg);
}

.description {
    grid-row: 2;
    grid-column: 1/4;
    margin-top: 25px;
    font-size: 18px;
    line-height: 28px;
    font-family: "mont-regular";
    color: var(--dark-grey);
}

.img {
    margin-top: 45px;
    grid-row: 2/4;
    grid-column: 4/5;
}

.all-services {
    grid-row: 3;
    grid-column: 1/4;
}

.services {
    width: 686px;
    display: flex;
    margin-top: 26px;
    padding: 17px 15px 3px;
    background: #aeccff1a;
    border: 1px solid #aeccff80;
    border-radius: 10px;
}

.service {
    text-align: center;
    display: inline-block;
    position: relative;
}

.service:not(:first-child) {
    margin-left: 50px;
}
.service:not(:first-child):before {
    content: "";
    height: 117px;
    width: 1px;
    background: #cee2ff;
    display: inline-block;
    position: absolute;
    left: -10px;
    top: 10px;
}
.service-title {
    font-size: 14px;
    line-height: 20px;
    color: var(--blue);
    font-family: "mont-bold";
}
.pp {
    font-size: 12px;
    line-height: 20px;
    color: var(--dark-grey);
    font-family: "mont-regular";
}

.service img {
    margin-bottom: 15px;
}
