@font-face {
    font-family: mont-bold;
    src: url("/fonts/Mont-Bold.otf");
}
@font-face {
    font-family: mont-regular;
    src: url("/fonts/Mont-Regular.otf");
}
@font-face {
    font-family: mont-semiBold;
    src: url("fonts/Mont-SemiBold.otf");
}
@font-face {
    font-family: mont-book;
    src: url("fonts/Mont-Book.otf");
}
@font-face {
    font-family: mont-heavy;
    src: url("fonts/Mont-Heavy.otf");
}
@font-face {
    font-family: mont-light;
    src: url("fonts/Mont-Light.otf");
}
