* {
    margin: 0;
    padding: 0;
}

:root {
    --light-blue: #197aff;
    --white: #fff;
    --dark-grey: #262626;
    --blue: #11346f;
    --black: #000;
}

.home-btn {
    cursor: pointer;
    color: var(--white);
    background-color: var(--light-blue);
    border-radius: 60px;
    font-family: "mont-bold";
    text-align: center;
}
